$white: #ffffff;
$light-grey: #fbf8f8;
$additional-grey: #d7d9df;
$red-main: #fe7865;
$black-dark: #141517;
$black: #2c2e3f;
$black-additional: #48494d;
$focus-color:#f17d4b;
$text-color: rgba(44, 46, 63, 0.7);
$text-color2: rgba(20, 21, 23, 0.7);
$classic-black: #000000;

$tablet-width: 768px;
$desktop-width: 1024px;
